<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.hexafraction.morsel" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
                android:name="com.bugsnag.android.API_KEY"
                android:value="e3e53840506388ef1b6434ba27a21e76"/>
        <activity
            android:name=".StartupActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoomSelActivity"
            android:label="@string/title_activity_room_sel"
            android:parentActivityName=".StartupActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.hexafraction.morsel.StartupActivity" />
        </activity>


        <activity
            android:name=".ChatActivity"
            android:label="@string/title_activity_chat"
            android:parentActivityName=".RoomSelActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.hexafraction.morsel.RoomSelActivity" />
        </activity>

    </application>

</manifest>
